clip==1.0 # download with git 
exceptiongroup==1.2.2
# faiss==1.7.3 install with conda
importlib_metadata==8.5.0
ipykernel==6.29.5
langchain-experimental==0.3.3

matplotlib==3.10.0

open_clip_torch==2.29.0
pandas==2.2.3
pickleshare==0.7.5
pip==24.2
pytest==8.3.4
setuptools==75.1.0
torchaudio==2.2.2
wheel==0.44.0

# Note: > pip install -e . when in the llmsherpa directory
# llmsherpa @ file://./src/document/llmsherpa
